body
{
    margin: 0;
    font-family: 'Roboto Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: #707070;
}

.contenido
{
    padding: 7%;
}

.titulo h2
{
    font-family: 'Roboto thin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;  
}

.clientes
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text
{
    border-radius: 15px;
    border-color: #AFBDA2;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    height: 2.2em;
    padding: 5px 10px;
    width: 250px;
    color: #707070;
}

.boton-clientes, .botones input, button, .tabla input
{
    background: linear-gradient(180deg,#5bef6f 0%, #88C051 100%);
    border: 0;
    padding: 0;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    width: 67px;
    height: 55px;
    font-family: 'Roboto light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.boton-clientes
{
    height: 40px;
    width: 47px;
}

.tabla
{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.tabla-principales
{
    padding: 5%;
    border: 1px solid #88C051;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabla-principales div
{
    padding-bottom: 5px;
}

.tabla input
{
    width: 100px;
    height: 28px;
    font-size: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
}

.botones
{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 20px 0;
    left: 0;
    bottom: 0;
    width: 90%;
    color: white;
    text-align: right;
}



