body
{
    margin: 0;
    font-family: 'Roboto Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: #707070;    
    font-size: 15px;
}

.contenido
{
    padding: 7%;
}

table
{
    border-radius: 0.25em;
    border-collapse: collapse;
    width: 100%;
    background-color: #88C051;
    color: white;
}

.titulo h2, th
{
    font-family: 'Roboto thin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.titulo
{
    margin-bottom: 40px;
}

td, th 
{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
    color: #707070;
    background-color: white
}

.botones
{
    position: fixed;
    justify-content: space-between;
    padding: 10px 0 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: white;
}

.botones input
{
    background-color: #88C051;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    height: 35px;
    width: 90px;
    font-family: 'Roboto light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

