body
{
    margin: 0;
    font-family: 'Roboto Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: #707070;    
    font-size: 15px;
}

.contenido
{
    padding: 7%;
}

table
{
    border: 1px solid #88C051;
    border-collapse: collapse;
    width: 100%;
    background-color: #88C051;
    color: white;
}

th
{
    font-family: 'Roboto thin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

td, th 
{
    border: 1px solid #88C051;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)
{
    color: #707070;
    background-color: white
}